//Here are placed all of changes to the main css file.
@import "_mixins.scss";
@import "_typography.scss";
@import "_variables.scss";

mark {
  background-color: $accent_green;
}

logo {
  color: white;
  font-size: 2em;
  font-family: "Lato", cursive;
}

figure {
  display: block;
  margin: none;
}

.button--alt-accent-bg {
  background-color: $cta_orange;
  color: $white;
}

.button--alt-accent-bg:hover {
  background-color: $cta_orange_dark;
}

.button--accent-bg {
  background-color: $cta_orange;
  color: $white;
}

.button--accent-bg:hover {
  background-color: $cta_orange_dark;
}

.alone-heading {
  font-size: 50px;
}

.great-heading {
  background-color: $accent_darkgreen;
}

underline {
  border-bottom: 5px solid $white;
}

.is-hidden {
  display: none;
  visibility: hidden;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 16px 10px #E3E7EB;
  background-color: white;
  position: relative;
  z-index: -2;
}

.nav-01 {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
  background-color: #303030;
  max-width: 1440px;
  margin: 0 auto;
}

.navLogo {
  height: 100px;
}

.header-logo {
  width: 150px;
  height: 35.7px;
}

.header-04__overlay,
.header-16__overlay,
.header-17__overlay,
.header-55__overlay {
  //black_overlay
  background-color: rgba(62, 57, 53, 0.75);
}

.header-55 {
  z-index: 1000;
}

.buttons-set__item--border {
  border-top: 2px solid #3CB10F;
  padding: 4px;
}

.coming-soon {
  color: $white;
  font-size: 2em;
}

.heading-button {
  width: 278px;
}

.features-02__number:before {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  bottom: -20px;
  height: 2px;
  width: 60px;
  background-color: $accent_green;
}

.features-02__item:nth-child(3) {
  border: 4px solid $accent_green;
  border-radius: 10px;
}

.features-02__description {
  font-size: 20px;
  font-weight: 600;
}

.features-02__item_box {
  max-width: 300px;
  margin: auto;
  height: 100%;
  @include flexbox;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.features-02__item {
  width: 29.7%;
  padding: 0 15px;
  border: 4px solid #f8f8f8;
  border-radius: 10px;
  padding: 15px;
}
@media (max-width: 900px) {
  .features-02__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .features-02__item {
    padding: 0;
  }
}

.features-02__number {
  text-align: center;
  position: relative;
  font-size: 24px;
  font-weight: 700;
}

.container--feature {
  max-width: 1200px;
}

.title-box--features {
  margin-bottom: 96px;
}

.features-02--bpdbtm {
  padding-bottom: 120px;
}

.explanation {
  padding-top: 0;
}
@media(max-width: 900px) {
  body .explanation__left_content main .main-text {
    font-size: 1.094em;
  }
}
@media screen and (max-height: 700px) {
  .explanation__left_content main .main-text {
    font-size: 1em;
  }
}

.main-text,
.support-text p {
  letter-spacing: 0.03em;
  font-size: 1.125em;
  line-height: 1.4444;
  font-weight: 600;
}

.main-text {
  border: 4px solid #f8f8f8;
  padding: 10px;
  border-radius: 10px;
}

.main-text-business {
  border: 4px solid $accent_green;
}

.main-text--write {
  letter-spacing: 0.03em;
  font-size: 17.5px;
  line-height: 1.5em;
}
@media screen and (max-height: 800px) {
  main .main-text {
    font-size: 1em;
  }
}
@media(min-width: 900px) {
  .main-text {
    position: relative;
    left: -14px;
  }
}

.skewed-barrier {
  background-color: $accent_darkgreen;
  padding: 4%; /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
  @include skewY(4deg);
  @include boxShadow(inset 0 0 35px 10px rgba(0,0,0,0.23));
}

.diagram__wrapper {
  padding-bottom: 70px;
}

.diagram {
  max-width: 1539px;
  background-color: $accent_darkgreen;
  max-height: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 10px;
}

.triangle {
  max-width: 800px;
  min-width: 100px;
}

div .win-win {
  background-color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.win-win underline {
  font-size: 85px;
  border-bottom: 5px solid $accent_green;
}
@media (max-width: 600px) {
  .win-win underline {
    font-size: 50px;
  }
}
@media (max-width: 400px) {
  .win-win underline {
    font-size: 36px;
  }
}

.cta_form-03 {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $accent_darkgreen;
}

.support-text p {
  font-size: 1.25em !important;
}

.about__price__wrapper {
  width: 100%;
  max-width: 340px;
  @include flexbox;
  align-items: center;
}

.appScreen {
  margin-top: 37%;
  @include transform(scale(1.25));
}

.footer__author {
  width: 30px;
}
